@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);
.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}
.clearfix:after {
    clear: both;
}
.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    color: #34495e;
    background: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}
hr {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #fff;
}
.btn {
    font-weight: 400;
    background-color: #303191;
    color: white;
    margin-top:20px;
}
.btn-transparent {
    border: 3px solid #fff;
    background: transparent;
    color: #fff;
}
.btn-transparent:hover {
    border-color: rgba(255, 255, 255, 0.5);
    background-color:white;
    color:red;
}
a:hover,
a:focus {
    color: black;
    text-decoration: none;
    outline: none;
}
.dropdown-menu {
    margin-top: -1px;
    min-width: 180px;
}
.navbar
{
    background-color: #2c2929; 
}

.navbar-brand b {
    font-family: 'Bubbler One', sans-serif;
    font-size: 36px;
    line-height: 69px;
    color: #F8CE08;
}
.navbar-nav {

    margin-top: -47px;
}
.navbar-nav > li > a {
    padding-top: 1px;
    padding-bottom:1px;
    border-radius: 5px;
    color: black;
    text-align: center;
}
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus,
.navbar-nav > .open > a,
.navbar-nav > .open > a:hover,
.navbar-nav > .open > a:focus {
    background-color:#130c7e;
    color:white;
}
.navbar-nav > li > a:hover{
    background-color:#130c7e; 
    color:white;
}
.navbar-nav .dropdown-menu {
    background-color: #2c3e50;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0;
    padding: 0;
    margin-top: -3px;

}
.navbar-nav .dropdown-menu > li > a {
    padding: 8px 15px;
    color:black;
}
.navbar-nav > li:hover > a
.navbar-nav > li:focus > a,
.navbar-nav > li.active > a {
    background-color:#fff799;
    color: #130c7e;
}
.navbar-nav .dropdown-menu > li:last-child > a {
    border-radius: 0 0 3px 3px;
}
.navbar-nav .dropdown-menu > li.divider {
    background-color: rgba(0, 0, 0, 0.1);
}
.navbar-collapse,
.navbar-form {
    border-top: 0;
}
.navbar-toggle .icon-bar {
    background-color: #fff;
}

.no-margin {
    margin: 0;
    padding: 0;
}

#footer h4, li a{
    color:black;    
}
#footer a:hover {
    color: white;
    background-color: black;
    padding:10px;
}

#about-us p
{
    font-size:18px;
    line-height: 30px;
}
#about-us h1
{
    font-size:45px;
    color:#f2ae03;
    text-align: center;
}

@media (max-width: 992px)
{
    .slider-image,.slider-text
    {
        margin-top: -124px;
        align-items: center;
    }

    .slider-image img
    {
        max-width: 100%;
        margin-top: -43px;
    }
    .slider-image3 img
    {
        margin-top: 123px;    
    }
    .sp-image img
    {
        margin-top:20px;
    }
    .enquiry-image img ,.Track-image img ,.slider-image3 img,.login-image img,.sp-image img
    {
        max-width: 100%;
    }
    #main-slider .wet-asphalt
    {
        background-color: #130c7e;
    }
    #main-slider .carousel h2, #main-slider .carousel h1, #main-slider .carousel h3
    {
        color:white;
    }
    .navbar-brand
    {
        float: none;
        padding: 14px;
        text-align: center;
    }
    .navbar-brand b{
        font-size: 25px;
        line-height: 90px;
    }
    #title .user-login
    {
        width:100%;
    }
    #special .route-image img
    {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    header .top-header
    {
        border-radius: 0px 0px 0px 0px;
        display: block;
    }
    .top-header
    {
        padding-left:0px;
        padding-right:0px;
    }
    #about-us
    {
        background-color:#B8eaff;
    }
    .carousel-inner .track-fill
    {
        margin-left: auto;
        margin-right: auto;
        margin-top: -20px;
        max-width: 100%;
        width: 90%;
    }
    .top-header .col-sm-6
    {
        display:block !important;    
    }
    .emerald1 img{
        max-width: 100%;
    }
    #booking .browser-default
    {
        width: 180px;
    } 

    #main-slider{
        display:none;
    }
    #booking{
        margin-top: 184px;
    }

    #booking #srch_date, #return_date

    {
        margin-bottom: 15px;
    }

    #booking .cal{
        margin-top: -46px;
    }
    #booking .swapicon{
        position: static;
        transform: rotate(90deg);
        margin-top: -13px;

    }

    header.navbar-brand img {

        margin-top: 5px;
    }

    .navbar {
        border-radius: 0px;
    }
    #about-us, #booking, #special{
        border-radius: 0px !important;
    }

    .top-header .col-sm-6 
    {
        font-size: 20px;
        margin-left:0px;
    }

    .top-header
    {
        background-color: green;
    }

    .top-header .contact {
        margin-top: 10px;
        margin-left:auto;
        margin-right:auto;
        padding-left:15px;
    }

    .navbar .navbar-nav > li > a {
        margin-bottom: 14px;
    }
    #print img{
        max-width: 100%;
        margin-top: 112px;
    }
    textarea{
        width: 100%;
    }

}
.navbar-brand img
{
    width: 100%;
    margin-top: -9px;
    margin-left: -8px;
}

.login-image
{
    margin: 25px;
}

.nav-button
{
    background-color: #303191;
    border-color: blue;
    margin-top: 12px;
}
.form-control
{
    input[type=text] 
    {
        width: 80%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid white;
        text-align: center;
        font-size:20px;
        border-radius:15px;
    }
}

.top-header
{
    padding-top: 8px;
    display:flex;
}

.top-header
{
    background-color: #fae854;    
}

.top-header ul li a,span
{
    font-size: 13px;
    font-weight: 700;
    color:black;
    font-style: italic;
    margin-left:2px;
    margin-right:2px;

}

.top-header ul
{
    display: flex; 
    list-style-type: none;
    float:right;
}

.navbar-brand
{
    float:left;
}

.contact
{
    padding-left:8px;   
    margin-top:3px;
}

.navbar .bottom-header
{
    margin-top: 0px;
    border-top: 76px solid white;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
}
.navbar-collapse ul li
{
    font-size: 12px; 
    font-style: italic;
    font-weight: 800;
}
#about-us, #routes,#amenities
{
    margin-top:-60px;
}

#about-us .col-md-5
{
    margin-top: 30px;
}
#routes .col-md-6
{
    margin-top: -22px;
}
#footer
{
    margin-top: -34px;
}
#footer b
{
    font-size:15px;
}

#about-us h2
{
    color:black;
    text-align: center;
    font-size:30px;
}
#routes h2
{
    color:black;
    text-align: center;
    font-size:30px;
}
#about-us p
{
    color:black;
    text-align: center;
    font-size:18px;
    line-height: 37px;
    font-weight:800;
}
#routes p
{
    color:black;
    text-align: center;
    font-size:18px;
    line-height: 20px;
    font-weight:500;
    margin-bottom:25px;
}
.cal
{
    margin-top: -31px;
    margin-right: 10px;  
    color:#000;
    float: right;
}


.useful-links li 
{
    display: inline-block;
    list-style-type: none;
    border-right: 2px solid #fff;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 17px;
    margin-top: 25px;

}
.useful-links li a{ 
    color: black;
    text-decoration: none;
}
.useful-links p{ 
    color: black;
}

.useful-links
{
    margin-left:auto;
    margin-right:auto;
}

#print
{
    margin-top: -24px;
    text-align: center;
    margin-bottom: 67px;
}

#print .ticket
{
    margin-top:50px;    
}

.timer-info h1
{
    color:#2c2929;
}

.print h3
{
    font-size:10px;    
}

.print input
{
    padding:10px;
    border-radius: 5px;
    border:2px solid white;
    margin-bottom:30px;
    width:80%;
    text-align: center;
}
.print a
{
    background-color:maroon;;
    border-radius: 6px;
    padding: 10px;
    margin-top:30px;
    color:white;
}
.print p
{
    font-size:13px;
    margin-top:15px;
}

.border
{
    border-radius: 5px;
    border:2px solid white;
    background-color:#e42224;
}

.address h3
{
    font-size:18px;
    color:yellow;
    text-align: left;
}
.address p
{
    font-size:11px;
    color:white;
    text-align: left;
}
textarea
{
    border-radius: 5px;
    text-align: center;
    padding:10px;
    margin-bottom: 20px;
}

.slider-content
{
    margin-top:-21px;    
}

/****** Booking Section *****/

.book-div
{
    position: absolute;
    top: 174px;
    width: 369px;
    left: 10%;
    height: 364px;
    z-index: 100;
    margin: auto;
}
.book-title
{
    text-align: center;
    margin-top: 18px;
    font-size: 25px;
    font-weight: 700;
}

.book-inner
{
    width:100%;
}

.swapicon
{
    position: absolute;
    right: 84px;
    top: 104px;
    z-index: 100;  
}

.btn a,a:hover
{
    background-color: #e3af04; 
    border-radius: 50px;
}

.book-div select, input
{
    border-radius: 50px;
    width: 70%;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px; 
    margin-left: 50px;
    border:1px solid white;
}
.book-div input
{
    border-radius: 50px;
    width: 70%;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px; 
    margin-left: 50px;
    border:1px solid white;   
}

.cal
{
    margin-top: -38px;
    margin-right: 64px;
    color: maroon;
    float: right;
}

.book-div a
{
    background-color: #fff;
    color: #870002;
    margin-top: 10px;
    text-align: center;
}

.top-footer
{
    margin-top:60px;    
}

@media (min-width: 992px)
{
    #about-us
    {
        background: url('../images/aboutus.png');
        height:500px;
        background-repeat: no-repeat;
    }
    #routes
    {
        background: url('../images/routes.png');
        height:500px;
        background-repeat: no-repeat;
    }
    #amenities
    {
        background: url('../images/aminities.png');
        height:auto;
        background-repeat: no-repeat;
    }
    #footer
    {
        background: url('../images/ft.png');
        height:300px;
        background-repeat: no-repeat;
    }
    .bx-controls
    {
        display:none;
    }

    #book-image
    {
        background: url('../images/cb.png');
        background-repeat: no-repeat;
        background-size: cover;
        margin:auto;
    }
}

@media (max-width: 360px)
{
    #book-image
    {
        background: url(../images/cb.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 70%;
        margin: auto;
        padding-top: 20px;
    }
}

@media (max-width: 1024px)
{
    #book-image
    {
        background: url(../images/cb.png);
        background-repeat: no-repeat;
        background-size: cover;
        width:100%;
        padding-top: 20px;
        top:169px;
    }
}

@media (max-width: 992px)
{
    .logo, .book-div, .mobile-charge h4 ,.mobile-charge img, .airconditioner h4, .airconditioner img, .livetracking h4,.livetracking img,
    .wifi h4 ,.wifi img,.customer-care h4,.customer-care img, .rest-stop h4, .rest-stop img,.circle img
    {
        position:static !important;
    }
    .bx-controls,
    {
        display: none;
    }

    #book-image
    {
        background: url(../images/cb.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        margin: auto;
        padding-top: 20px;
    }
    .navbar .bottom-header {
        border-top:0px;
    }
    .navbar-brand img {
        width: 62%;
    }
    #about-us, #routes, #amenities {
        margin-top: 18px;
    }
    #footer .middle-footer img
    {
        max-width: 100%;    
    }
    #amenities .amenities {
        margin-bottom: 10px;
    }
    #routes {
        background-color:#fff4ed;
    }
    #footer{
        background-color: #fafa89;
        margin-top:0px;
    }
    .top-header ul{
        float:left;
    }
    .navbar-nav {
        margin-top: 0px;
    }
    .navbar-nav li a {
        color:white;
        text-align: left;
    }
}

.mobile-charge h4 ,.mobile-charge img, .airconditioner h4, .airconditioner img, .livetracking h4,.livetracking img,
.wifi h4 ,.wifi img,.customer-care h4,.customer-care img, .rest-stop h4,.circle img
{
    position: absolute;
    font-size: 24px;
}

.mobile-charge h4 
{
    top: 88px;
    left: 226px;
}

.mobile-charge img
{
    top: 0px;
    left: 173px;
}

.airconditioner h4 
{
    top: 241px;
    left: 164px;
}
.airconditioner img
{
    top: 161px;
    left: 66px;
}
.livetracking h4 
{
    top: 88px;
    left: 389px;
}

.livetracking img 
{
    top: 0px;
    left: 359px;
}

.wifi h4 
{
    top: 241px;
    left: 490px;
}

.wifi img 
{
    top: 161px;
    left: 460px;
}

.customer-care h4 
{
    top: 365px;
    left: 225px;
}
.customer-care img
{
    top: 320px;
    left: 167px;
}

.rest-stop h4 
{
    top: 365px;
    left: 415px;
}
.rest-stop img
{
    top: 320px;
    left: 361px;
}

.circle img
{
    top: 241px;
    left: 265px;
}

.amenities{
    margin-top: 32px;
    margin-bottom: 636px;
}
#amenities p{
    font-size: 19px;
    font-weight: bold;
    line-height: 27px;
}
#amenities h2,p{
    color:black;
}
