@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);
.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}
.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    color: #34495e;
    background: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}
hr {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #fff;
}

a:hover,
a:focus {
    color: black;
    text-decoration: none;
    outline: none;
}
.dropdown-menu {
    margin-top: -1px;
    min-width: 180px;
}
.navbar
{
    background-color: #2c2929;
    margin: 0;
}

.navbar-brand b {
    font-family: 'Bubbler One', sans-serif;
    font-size: 36px;
    line-height: 69px;
    color: #F8CE08;
}
.navbar-nav {

    margin-top: -47px;
}
.navbar-nav > li > a {
    padding-top: 1px;
    padding-bottom:1px;
    border-radius: 5px;
    color: black;
    text-align: center;
}
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus,
.navbar-nav > .open > a,
.navbar-nav > .open > a:hover,
.navbar-nav > .open > a:focus {
    background-color:#130c7e;
    color:white;
}
.navbar-nav > li > a:hover{
    background-color:#130c7e; 
    color:white;
}
.navbar-nav .dropdown-menu {
    background-color: #2c3e50;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0;
    padding: 0;
    margin-top: -3px;

}
.navbar-nav .dropdown-menu > li > a {
    padding: 8px 15px;
    color:black;
}
.navbar-nav > li:hover > a
.navbar-nav > li:focus > a,
.navbar-nav > li.active > a {
    background-color:#fff799;
    color: #130c7e;
}
.navbar-nav .dropdown-menu > li:last-child > a {
    border-radius: 0 0 3px 3px;
}
.navbar-nav .dropdown-menu > li.divider {
    background-color: rgba(0, 0, 0, 0.1);
}
.navbar-collapse,
.navbar-form {
    border-top: 0;
}
.no-margin {
    margin: 0;
    padding: 0;
}

#footer h4, li a{
    color:black;    
}
#footer a:hover {
    color: white;
    background-color: black;
    padding:10px;
    border-radius: 10px;
}

.navbar-brand img
{
    width: 100%;
    margin-top: -9px;
    margin-left: -8px;
}

.form-control
{
    input[type=text] 
    {
        width: 80%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid white;
        text-align: center;
        font-size:20px;
        border-radius:15px;
    }
}

.top-header
{
    padding-top: 8px;
    display:flex;
    background-color: #fae854;  
}

.top-header ul li a,span
{
    font-size: 12px;
    font-weight: 700;
    color:black;
    font-style: italic;
    margin-left:2px;
    margin-right:2px;

}

.top-header ul
{
    display: flex; 
    list-style-type: none;
    float:right;
}

.navbar-brand
{
    float:left;
}
.navbar .bottom-header
{
    margin-top: 0px;
    border-top: 76px solid white;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
}
.navbar-collapse ul li
{
    font-size: 12px; 
    font-style: italic;
    font-weight: 800;
}
#about-us, #routes,#amenities
{
    margin:0px;
}

#about-us .col-md-5
{
    margin-top: 30px;
}
#footer b
{
    font-size:15px;
}

#about-us h2
{
    color:black;
    text-align: center;
    font-size:30px;
}
#routes h2
{
    color:black;
    text-align: center;
    font-size:30px;
}
#about-us p
{
    color:black;
    text-align: center;
    font-size:18px;
    line-height: 37px;
    font-weight:800;
}
#routes p
{
    color:black;
    text-align: center;
    font-size:18px;
    line-height: 20px;
    font-weight:500;
    margin-bottom:25px;
}
.cal
{
    margin-top: -31px;
    margin-right: 10px;  
    color:#000;
    float: right;
}

.useful-links li 
{
    display: inline-block;
    list-style-type: none;
    border-right: 2px solid #fff;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 17px;
    margin-top: 25px;

}
.useful-links li a{ 
    color: black;
    text-decoration: none;
}
.useful-links p{ 
    color: black;
}

.useful-links
{
    margin-left:auto;
    margin-right:auto;
}
#print
{
    margin-top: -24px;
    text-align: center;
    margin-bottom: 67px;
}
#print .ticket
{
    margin-top:50px;    
}

.timer-info h1
{
    color:#2c2929;
}
.print h3
{
    font-size:10px;    
}
.print input
{
    padding:10px;
    border-radius: 5px;
    border:2px solid white;
    margin-bottom:30px;
    width:80%;
    text-align: center;
}
.print a
{
    background-color:maroon;;
    border-radius: 6px;
    padding: 10px;
    margin-top:30px;
    color:white;
}
.print p
{
    font-size:13px;
    margin-top:15px;
}
.border
{
    border-radius: 5px;
    border:2px solid white;
    background-color:#e42224;
}
.address h3
{
    font-size:18px;
    color:yellow;
    text-align: left;
}
.address p
{
    font-size:11px;
    color:white;
    text-align: left;
}
textarea
{
    border-radius: 5px;
    text-align: center;
    padding:10px;
    margin-bottom: 20px;
}
.slider-content
{
    margin-top:0;
    height: 465px;
}
/****** Booking Section *****/

.book-div
{
    position: absolute;
    top: 174px;
    width: 369px;
    left: 10%;
    height: 364px;
    z-index: 100;
    margin: auto;
}
.book-title
{
    text-align: center;
    margin-top: 18px;
    font-size: 25px;
    font-weight: 700;
}

.book-inner
{
    width:100%;
}

.swapicon
{
    position: absolute;
    right: 84px;
    top: 104px;
    z-index: 100;  
}

.book-div select, input
{
    border-radius: 50px;
    width: 70%;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px; 
    margin-left: 50px;
    border:1px solid white;
}
.book-div input
{
    border-radius: 50px;
    width: 70%;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px; 
    margin-left: 50px;
    border:1px solid white;   
}

.cal
{
    margin-top: -38px;
    margin-right: 64px;
    color: maroon;
    float: right;
}

.book-div a
{
    background-color: #fff;
    color: #870002;
    margin-top: 10px;
    text-align: center;
}

.top-footer
{
    margin-top:60px;    
}

@media (min-width: 992px)
{
    #about-us
    {
        background: url('../images/aboutus.png');
        height:467px;
        background-repeat: no-repeat;
        background-position:initial;
    }
    #routes
    {
        background: url('../images/routes.png');
        height:466px;
        background-repeat: no-repeat;
    }
    #amenities
    {
        background: url('../images/aminities.png');
        height:auto;
        background-repeat: no-repeat;
    }
    #footer
    {
        background: url('../images/ft.png');
        height:300px;
        background-repeat: no-repeat;
    }
    .bx-controls
    {
        display:none;
    }
}
#book-image
{
    background: url(../images/cb.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

@media (max-width: 360px)
{
    #book-image
    {
        background: url(../images/cb.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 70%;
        margin: auto;
        padding-top: 20px;
    }
}

@media (max-width: 1024px)
{
    #book-image
    {
        background: url(../images/cb.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 28%;
        height: 23%;
        top: 130px;
    }
    .navbar-collapse ul li
    {
        font-size: 11px;
        font-style: italic;
        font-weight: 800;
    }

    .slider-content {
        margin-top: 0;
        height: 353px;
    }
    .book-div select{

        margin-top: 6px;
        margin-bottom: 6px;
        margin-left: 38px;
        width: 74%
    }
    .book-div input
    {
        margin-top: 6px;
        margin-bottom: 6px;
        margin-left: 35px;
        width: 74%
    }

    .swapicon 
    {
        top: 87px;
        right: 66px;
    }

    .cal 
    {
        margin-top: -31px;
        margin-right:50px;
    }
    .book-title
    {
        font-size: 21px;
    }
    #about-us {

        background-position: initial;
        background-size: contain;
        height: 342px;
    }
    #about-us .col-md-5 
    {
        margin-top: 3px;
        position: absolute;
        left: 494px;
    }
    #about-us p{

        font-size: 15px;
        line-height: 31px
    }
    #amenities
    {
        background-size: contain;
        background-position: inherit;
    }
    .mobile-charge img,.livetracking img,.airconditioner img,.wifi img,.customer-care img,.rest-stop img, .circle img
    {
        max-width:20%;
    }
    .amenities .mobile-charge h4 ,.amenities .airconditioner h4,.amenities .livetracking h4,.amenities .wifi h4,.amenities .customer-care h4,.amenities .rest-stop h4
    {
        font-size:18px;
    }
    .amenities .mobile-charge img
    {
        top: 0px;
        left: 193px;
    }
    .amenities .livetracking img
    {
        top: 0px;
        left: 327px;
    }

    .amenities .airconditioner img
    {
        top: 115px;
        left: 125px;
    }
    .amenities .wifi img
    {
        top: 115px;
        left: 396px;
    }
    .amenities .customer-care img 
    {
        top: 222px;
        left: 194px;
    }
    .amenities .rest-stop img 
    {
        top: 218px;
        left: 328px;
    }
    .amenities .mobile-charge h4 
    {
        top: 61px;
        left: 225px;
    }
    .amenities .livetracking h4 
    {
        top: 61px;
        left: 360px;
    }
    .amenities .airconditioner h4 
    {
        top: 169px;
        left: 190px;
    }
    .amenities .wifi h4
    {
        top: 171px;
        left: 422px;
    }
    .amenities .customer-care h4
    {
        top: 257px;
        left: 242px;
    }
    .amenities .rest-stop h4
    {
        top: 250px;
        left: 355px;
    }
    .amenities .circle img
    {
        top: 170px;
        left: 259px;
    }
    #amenities .amenities 
    {
        margin-bottom: 375px;
    }
    #routes .routes
    {  
        position: absolute;
        left: 156px;
        top: 1393px;
    }
    #footer {
        height: 275px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    #print {
        margin-top: 323px;
        text-align: center;
        margin-bottom: 477px;
    }

}

@media (max-width: 768px)
{
    .top-header ul li a, span {
        font-size: 8px;
    }
    #about-us
    {
        background-color:#fae854;
    }
    .navbar .navbar-collapse ul li 
    {
        font-size: 7px;
    }
    .navbar-brand img 
    {
        width: 30%;
        position: absolute;
        top: 14px;
    }
    #book-image 
    {
        background: url(../images/cb.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 33%;
        margin: auto;
        height: 91%;
        top: 125px;
    }
    .book-div a 
    {
        margin-top: 0px;
    }   
    .book-div select {
        margin-top: 3px;
        margin-bottom: 4px;
    }
    .book-title
    {
        font-size: 17px;
    }
    #about-us
    {
        margin-top: -87px;
    }
    #about-us .col-md-5 
    {
        margin-top: 3px;
        position: absolute;
        left: 201px;
    }
    #routes .routes 
    {
        position: static;
        margin-left: 210px;
    }
    .logo, .book-div, .mobile-charge h4 ,.mobile-charge img, .airconditioner h4, .airconditioner img, .livetracking h4,.livetracking img,
    .wifi h4 ,.wifi img,.customer-care h4,.customer-care img, .rest-stop h4, .rest-stop img,.circle img
    {
        position:absolute;
    }
    .mobile-charge img,.livetracking img,.airconditioner img,.wifi img,.customer-care img,.rest-stop img, .circle img
    {
        max-width:20%;
    }
    .amenities .mobile-charge h4 ,.amenities .airconditioner h4,.amenities .livetracking h4,.amenities .wifi h4,.amenities .customer-care h4,.amenities .rest-stop h4
    {
        font-size:12px;
    }
    .amenities .mobile-charge img
    {
        top: -220px;
        left: 73px;
    }
    .amenities .livetracking img
    {
        top: -220px;
        left: 150px;
    }
    .amenities .airconditioner img
    {
        top: -151px;
        left: 37px;
    }
    .amenities .wifi img
    {
        top: -152px;
        left: 192px;
    }
    .amenities .customer-care img 
    {
        top: -90px;
        left: 77px;
    }
    .amenities .rest-stop img 
    {
        top: -90px;
        left: 154px;
    }
    .amenities .mobile-charge h4 
    {
        top: -188px;
        left: 92px;
    }
    .amenities .livetracking h4 
    {
        top: -189px;
        left: 160px;
    }
    .amenities .airconditioner h4 
    {
        top: -121px;
        left: 78px;
    }
    .amenities .wifi h4
    {
        top: -119px;
        left: 200px;
    }
    .amenities .rest-stop h4
    {
        top: -76px;
        left: 165px;
    }
    .amenities .customer-care h4
    {
        top: -79px;
        left: 95px;
    }
    .amenities .circle img
    {
        top: -120px;
        left: 115px;
    }
    #footer b
    {
        font-size: 11px;
    } 
    .useful-links li 
    {
        font-size: 7px;
    }
    #print {
        margin-top: 161px;
        text-align: center;
        margin-bottom: 157px;
    }

}

@media (max-width: 992px)
{
    .bx-controls
    {
        display: none;
    }

    .navbar .bottom-header {
        border-top:0px;
    }
    #routes, #amenities {
        margin-top: 18px;
    }
    #footer .middle-footer img
    {
        max-width: 100%;    
    }
    #amenities .amenities {
        margin-bottom: 10px;
    }
    #routes {
        background-color:#fff4ed;
    }
    #footer{
        background-color: #fafa89;
        margin-top:0px;
    }
    .top-header ul{
        float:left;
    }
    .navbar-nav {
        margin-top: 0px;
    }
    .navbar-nav li a {
        color:white;
        text-align: left;
    }
    .slider-image,.slider-text
    {
        margin-top: -124px;
        align-items: center;
    }

    .slider-image img
    {
        max-width: 100%;
        margin-top: -43px;
    }
    .slider-image3 img
    {
        margin-top: 123px;    
    }
    .navbar-brand
    {
        float: none;
        padding: 14px;
        text-align: center;
    }
    .navbar-brand b{
        font-size: 25px;
        line-height: 90px;
    }

    header .top-header
    {
        border-radius: 0px 0px 0px 0px;
        display: block;
    }
    .top-header
    {
        padding-left:0px;
        padding-right:0px;
    }
    .top-header .col-sm-6
    {
        display:block !important;    
    }

    header.navbar-brand img {

        margin-top: 5px;
    }

    .navbar {
        border-radius: 0px;
    }
    .top-header .col-sm-6 
    {
        font-size: 20px;
        margin-left:0px;
    }

    .navbar .navbar-nav > li > a {
        margin-bottom: 14px;
    }
    #print img{
        max-width: 100%;
        margin-top: 112px;
    }
    textarea{
        width: 100%;
    }
}

@media (min-width: 1600px)
{
    #about-us
    {
        background: url(../images/aboutus.png);
        height:500px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    #amenities 
    {
        background: url(../images/aminities.png);
        height:759px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-top: 0px;
    }
    #routes {
        background: url(../images/routes.png);
        height: 500px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    #footer {
        background: url(../images/ft.png);
        height: 300px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-top: 0px;
    }
    #about-us .col-md-5 {
        margin-top: 66px;
    }
    #routes .routes{
        margin-left: -55px;
        margin-top: 46px;
    }
    .slider-content {
        margin-top: 0;
        height: 553px;
    }
}

.mobile-charge h4 ,.mobile-charge img, .airconditioner h4, .airconditioner img, .livetracking h4,.livetracking img,
.wifi h4 ,.wifi img,.customer-care h4,.customer-care img, .rest-stop h4,.rest-stop img,.circle img
{
    position: absolute;
    font-size: 24px;
}
.mobile-charge h4 
{
    top: 88px;
    left: 226px;
}
.mobile-charge img
{
    top: 0px;
    left: 173px;
}
.airconditioner h4 
{
    top: 241px;
    left: 164px;
}
.airconditioner img
{
    top: 161px;
    left: 66px;
}
.livetracking h4 
{
    top: 88px;
    left: 389px;
}
.livetracking img 
{
    top: 0px;
    left: 359px;
}
.wifi h4 
{
    top: 241px;
    left: 490px;
}
.wifi img 
{
    top: 161px;
    left: 460px;
}
.customer-care h4 
{
    top: 361px;
    left: 225px;
}
.customer-care img
{
    top: 320px;
    left: 167px;
}
.rest-stop h4 
{
    top: 365px;
    left: 415px;
}
.rest-stop img
{
    top: 320px;
    left: 361px;
}
.circle img
{
    top: 241px;
    left: 265px;
}
.amenities{
    margin-top: 32px;
    margin-bottom:578px;
}
#amenities p{
    font-size: 19px;
    font-weight: bold;
    line-height: 27px;
}
#amenities h2,p{
    color:black;
}
